@font-face {
    font-family: infiti-regular;
    src: url(fonts/infini-regular.otf);
}
@font-face {
    font-family: infiti-bold;
    src: url(fonts/infini-bold.otf);
}






body {
    background-image: url("images/underwater.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0.5rem;
   }

   h1{ 
       text-align: center;
       color:rgb(102, 204, 204);
       text-shadow: 3px 3px #082842;
       font-family: infiti-bold;
       font-size: clamp(2rem, 4vw, 4rem);
   }

 #mermaid1 {
    position: absolute;
    left: 15em;
    top: 50em;
 }

 #mermaid2 {
    position: fixed;
   left: 6em;
   top: 12em;
}

#mermaid3 {
    position: absolute;
   left: 12em;
   top: 5em;
}

#mermaid4 {
    position: absolute;
   left: 15em;
   top: 12em;
}

#mermaid5 {
    position: absolute;
   left: 10em;
   top: 25em;
}

#mermaid6 {
    position: absolute;
   left: 24em;
   top: 8em;
}

#mermaid7 {
    position: absolute;
   left: 27em;
   top: 25em;
}

#mermaid8 {
    position: absolute;
   left: 33em;
   top: 10em;
}

#mermaid9 {
    position: absolute;
   left: 39em;
   top: 16em;
}

#mermaid10 {
    position: absolute;
   left: 44em;
   top: 25em;
}

#mermaid11 {
    position: absolute;
   left: 47em;
   top:13em;
}

#mermaid12 {
    position: fixed;
   left: 53em;
   top: 19em;
}

#mermaid13 {
    position: absolute;
   left: 59em;
   top: 12em;
}

#mermaid14 {
    position: absolute;
   left: 66em;
   top: 69em;
}

#mermaid15 {
    position: absolute;
    left: 71em;
   top: 13em;
}

#mermaid16 {
    position: absolute;
    left: 80em;
   top: 10em;
}


#mermaid17 {
    position: absolute;
   right: 5em;
   top: 55em;
}


p{
    position:fixed;
    top: 0.1em;
    right: 0.4em;
    font-family: urw-form, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;

}
